.BuildControl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #1f2e3f;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #AC9980;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  width: 25%;
}

.BuildControl .Less {
  background-color: #D39952;
  color: white;
}

.BuildControl .More {
  background-color: #91d684;
  color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
  background-color: #da5a00;
  color: #000000;
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #729956;
  color: white;
}


.BuildControl .Less svg,
.BuildControl .More svg {
  color: #f00;
  font-size: 0.8rem;
  padding: 0;
}
.BuildControl .Less:hover svg,
.BuildControl .Less:active svg,
.BuildControl .More:hover svg,
.BuildControl .More:active svg{
  color: #fff;
}
