.Modal {
  position: fixed;
  z-index: 500;
  background-color: #e1e3ae;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 1px 8px #17d0ff;
  padding: 16px;
  left: 25%;
  top: 15%;
  box-sizing: border-box;
  opacity: 0.95;
  transition: all 0.3s ease-out;
}
.Modal ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


@media (max-width: 600px) {
  .Modal {
    width: 80%;
    top: 10%;
    left: 10%;
  }
}