.BreadBottom {
  height: 60px;
  width: 80%;
  background: linear-gradient(#f8bf47, #773907);
  border-radius: 0 0 30px 30px;
  box-shadow: inset 0 -10px 30px #6d2307;
  margin: 2% auto;
}

.BreadTop {
  height: 80px;
  width: 80%;
  background: linear-gradient(#bc581e, #ffb533);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #5c2d0b;
  margin: 2% auto;
  position: relative;
}

.Seeds1 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #d98038;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #777777;
}

.Seeds1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffc078;
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #7a5321;
}

.Seeds2 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #c9c9c9;
}


.Meat {
  width: 80%;
  height: 8%;
  background: linear-gradient(#b4210a, #7f320b);
  margin: 2% auto;
  border-radius: 15px;
}

.Cheese {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.Salad {
  width: 85%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

.Bacon {
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
}
.condiment {
  display: flex;
  justify-content: space-around;
}
.condiment:first-child {
  justify-content: center;
}
.salt_pepper {
  display: block;
  width: 20px;
  height: 20px;
  color: #f00;
}


@media all and (max-width: 375px) {
  .BreadBottom,
  .BreadTop {
    height: 40px;
  }

}

