.NavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.NavItem a {
  display: block;
  color: #fff;
  font-size: 0.8rem;
  height: calc(100% - 16px);
  text-decoration: none;
  background: #26568a;
  border-bottom: 4px solid #00c2ff;
  padding: 36% 25% 0;
}

.NavItem a:hover,
.NavItem a:focus {
  background: #26568a;
  border-bottom: 4px solid #00c2ff;
  opacity: 0.6;
}
.NavItem a:active,
.NavItem a.active {
  background: #2a79b4;
  border-bottom: 4px solid #ff7700;
}

.NavItem a.active:hover {
  background: #2a79b4;
  border-bottom: 4px solid #ff7700;
  opacity: 1;
}

